<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title size="large">Dashboard</ion-title>
    <ion-item button lines="none" slot="end">
      <ion-icon name="search-outline"></ion-icon>
    </ion-item>
    <ion-item button lines="none" slot="end">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-item>
    <ion-item button lines="none" slot="end">
      <ion-avatar class="custom-avatar">
        <img
          src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/boy-2-512.png"
        />
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <div id="container">
      <ion-row>
        <ion-col>
          <ion-card button>
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in
              awhile, and climb a mountain or spend a week in the woods. Wash
              your spirit clean.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button>
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in
              awhile, and climb a mountain or spend a week in the woods. Wash
              your spirit clean.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button>
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in
              awhile, and climb a mountain or spend a week in the woods. Wash
              your spirit clean.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card button>
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in
              awhile, and climb a mountain or spend a week in the woods. Wash
              your spirit clean.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button>
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in
              awhile, and climb a mountain or spend a week in the woods. Wash
              your spirit clean.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button>
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in
              awhile, and climb a mountain or spend a week in the woods. Wash
              your spirit clean.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-title> Authors </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Rukshan</p>
          <p>Paranshu</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
