<ion-split-pane when="sm" contentId="main-content">
  <ion-menu contentId="main-content" class="custom-side">
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-item lines="none">
          <ion-icon slot="start" src="assets/icon.svg"></ion-icon>
          <ion-title> CRM<strong>Beta</strong></ion-title>
        </ion-item>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-list-header>Menu</ion-list-header>
        <ion-menu-toggle [autoHide]="false">
          <ion-item button lines="none">
            <ion-icon slot="start" name="apps-outline"></ion-icon>
            <ion-label> Dashboard </ion-label>
          </ion-item>
          <ion-item button lines="none">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label> Customer </ion-label>
          </ion-item>
          <ion-item button lines="none">
            <ion-icon slot="start" name="card-outline"></ion-icon>
            <ion-label> Earnings </ion-label>
          </ion-item>
          <ion-item button lines="none">
            <ion-icon slot="start" name="analytics-outline"></ion-icon>
            <ion-label> Product Sales </ion-label>
          </ion-item>
          <ion-item button lines="none">
            <ion-icon slot="start" name="star-half-outline"></ion-icon>
            <ion-label> Store Management </ion-label>
          </ion-item>
          <ion-item button lines="none">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            <ion-label> Settings </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title size="large">Dashboard</ion-title>
        <ion-item button lines="none" slot="end">
          <ion-icon name="search-outline"></ion-icon>
        </ion-item>
        <ion-item button lines="none" slot="end">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-item>
        <ion-item button lines="none" slot="end">
          <ion-avatar class="custom-avatar">
            <img
              src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/boy-2-512.png"
            />
          </ion-avatar>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div id="container">
        <ion-card button>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in
            awhile, and climb a mountain or spend a week in the woods. Wash your
            spirit clean.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in
            awhile, and climb a mountain or spend a week in the woods. Wash your
            spirit clean.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in
            awhile, and climb a mountain or spend a week in the woods. Wash your
            spirit clean.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in
            awhile, and climb a mountain or spend a week in the woods. Wash your
            spirit clean.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in
            awhile, and climb a mountain or spend a week in the woods. Wash your
            spirit clean.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title> Authors </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Rukshan</p>
            <p>Paranshu</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>
  </div>
</ion-split-pane>
